<div class="bg-light p-5 rounded-lg">
  <h1 class="display-4">Bem vindo ao Blog NodeJS</h1>
  <p class="lead">Resultado do Tutorial de NodeJs do Victor Lima no Youtube.</p>
  <hr class="my-4">
  <p>Playlist das aulas <a href="https://www.youtube.com/playlist?list=PLJ_KhUnlXUPtbtLwaxxUxHqvcNQndmI4B">aqui</a></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>
<hr>
<h2>Postagens recentes: </h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <p> <small>Categoria: {{categoria.name}}</small>
            <small>Publicado em {{data}}</small>
        </p>
    </div>
</div>
{{else}}
    <h5>Nenhuma Postagem</h5>
{{/each}}

